@media(max-width: 980px) {body, table {font-size: 24px;} .tblexvar {display: none;} .oc{width: 195px;}}
body {
  background: #ffffff; color: #000000; font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif
}
table {
  word-wrap: break-word; table-layout: fixed;
}
td {
  vertical-align: top
}
th {
  background: #eeeeee; 
}
span {
  color: #000000; border-radius: 3px; padding-left: 5px; padding-right: 5px; border: 1px #bbbbbb solid; font-family: Courier;
}
.list {
  margin-left: 300px; padding: 0px 10px;
}
.field {
  background: #99ff33; color: #000000; 
}
.method {
  background: #66ffff; color: #000000; 
}
.access {
  background: #eeeeee; color: #000000; padding-right: 5px; padding-left: 5px;
}
.oc {
  float: left; width: 125px; text-align: center; border: 1px #777777 solid; font-weight: bold;
}
.oc-cons {
  background: #999999; color: #000000; 
}
.oc-load {
  background: #aaffff; color: #000000; 
}
.oc-stor {
  background: #800000; color: #000000; 
}
.oc-stac {
  background: #00ffff; color: #000000; 
}
.oc-math {
  background: #808000; color: #000000; 
}
.oc-conv {
  background: #00ff00; color: #000000; 
}
.oc-comp {
  background: #008000; color: #000000; 
}
.oc-refe {
  background: #ffffaa; color: #000000; 
}
.oc-cont {
  background: #008080; color: #000000; 
}
.oc-exte {
  background: #0000ff; color: #000000; 
}
#outline {
  background: #164a41; color: #ffffff; height: 100%; width: 300px; position: fixed; z-index: 1; top: 0; left: 0; overflow-x: hidden; padding-top: 20px; padding-left: 10px;
}
#outline a {
  color: #ffffff; 
}
.ln {
  background: #eeeeee; color: #555555; text-align: right; font-family: monospace; width: 50px; padding-right: 5px; border-right: 1px solid #aaaaaa;
}
.cl {
  padding-left:5px;
}
.ct {
  border:1px solid #000000; white-space: pre; font-family: monospace; border-spacing: 0;
}
.keyword {
  background: #eeeeee; color: #7f0055; padding-left: 2px; padding-right: 2px;
}
.extry {
  background: #ff6781; 
}
.exhandler {
  background: #ffff00; 
}
.str {
  color: #0000ff; 
}
.attr {
  color: #0000dd; text-align: right;
}
.nmbr {
  background: #00dd00; color: #ffffff; padding-left:5px; padding-right:5px;
}
.clzz {
  background: #00ffff; 
}
.tblexvar {
  text-align: center; width: 900px;
}
